// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  rgba(255, 255, 255, 0.2);
$front-color: #38c143;

$red: #ed4337;
$blue: #3498db;
$green: #38c143;
$yellow: #ffff00;
$grey: #a7a5a6;

$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------

.widget-buildbybuildbreakdown {

  background-color: $background-color;
	padding: 0px !important;

  .title {
    color: $title-color;
		bottom: 30px;
		position: absolute;
		width: 100%;
  }

  .job {
			font-size: 30px;
			color: $title-color;
			text-align: left;
			padding: 2%;
			padding-left: 4%;
			margin-bottom: 2%;
	}

	.large_font.job {
	   font-size: 50px
	}

	.small {
			font-size: 100% !important;
	}

	.red {
			background-color: $red;
	}

	.green {
			background-color: $green;
	}

	.grey {
			background-color: $grey;
	}

	.merge {
			background-image: url("bananas.png");
			background-size: cover;
			background-position-y: 50%;
			color: rgba(0, 0, 0, 0.7);
	}

	.flashing {
			-webkit-animation: buildingBackground 3s infinite;
	}

  .updated-at {
    color: rgba(255, 255, 255, 0.3);
  }

	.left {
			float:left;
			width:32%;
			margin-left:1%;
	}

    .mid {
			float:left;
			width:32%;
			margin-left:1%;
	}

	.right {
			float:left;
			width:32%;
            margin-left:1%;
	}

    .runtime {
			float:right;
			padding-right:2%;
	}

    .branch_name {
      font-size: 75%;
    }

    .medium_font {
        font-size: 25px;
    }

    .small_font {
        font-size: 20px;
    }
}
