<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="ribbon ribbon-large ribbon-orange">
	<div class="banner">
		<div class="text"> Build Monitor</div>
		<div class="smalltext">Syndication Team</div>
	</div>
</div>

<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="10" data-sizey="1" >
		<div data-id="syn_jobs_health" data-view="Buildbybuildbreakdown"></div>
    </li>
  </ul>
</div>
